body {
  margin: 0;
}

header {
  background-color: #1b4242;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: white;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  padding-top: 5%;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 5%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 0%;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Merriweather", serif;
  font-size: 16px;
}

span {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 400;
}

li {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  margin-bottom: 5px;
}

hr {
  height: 2px;
  background-color: #1b4242;
  border-color: #1b4242;
  margin-top: 0%;
}

main {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

dt {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

dd {
  font-family: "Merriweather", serif;
  font-size: 16px;
  padding-bottom: 10px;
}

.left-section {
  margin: 0;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 28%;
  background-color: #b6c4b6;
  order: 1;
}

.right-section-skills,
.right-section-languages {
  display: none;
}

.right-section {
  width: 72%;
  margin: 0;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  background-color: #eef0e5;
  order: 2;
}

@media (max-width: 912px) {
  body {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
  header {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .left-section {
    order: 2;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }

  .right-section {
    order: 1;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  .right-section-skills,
  .right-section-languages {
    display: block;
  }

  .skills,
  .languages {
    display: none;
  }
}

.contact {
  padding-bottom: 7%;
}

.contact > ul {
  list-style-type: none;
  margin-left: -2em;
}

.contact-ul > li {
  margin-bottom: 20px;
}

.contact-li-portfolio img {
  width: 15px;
}

img {
  margin-right: 3%;
  width: 15px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1b4242;
  text-decoration: underline;
}

.skills-ul {
  list-style: none;
  padding-left: 0;
}

.skills-ul h4 {
  margin: 5px 0;
}

footer {
  text-align: center;
  color: white;
  background-color: #184848;
  padding: 6% 0;
  margin-top: 0;
}
